$background-color: #f3f3f3;
$primary-color: #000000;
$text-color: #ffffff;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $background-color;
}

header {
  width: 1440px;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.logo {
  font-family: "Noto Sans Thai";
  color: #000000;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  letter-spacing: 0%;
}
.logo-title {
  display: flex;
  align-items: center;
  height: 100px;
  width: 400px;
  position: absolute;
  left: 127px;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: "Noto Sans Thai";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  letter-spacing: 0%;
  .element {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
nav a:nth-child(1) {
  position: absolute;
  top: 30px;
  left: 1005px;
}
nav a:nth-child(2) {
  position: absolute;
  top: 30px;
  left: 1076px;
}
nav a:nth-child(3) {
  position: absolute;
  top: 30px;
  left: 1149px;
}

.contact {
  background-color: $primary-color;
  color: $text-color;
  width: 100px;
  height: 41px;
  border-radius: 5px;
  position: absolute;
  top: 29px;
  left: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans Thai";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  letter-spacing: 0%;
}

h1 {
  font-family: "Noto Sans Thai";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  letter-spacing: 0%;
}
.title {
  position: absolute;
  top: 156px;
  left: 100px;
}
