$background-color: #f3f3f3;
$primary-color: #000000;
$white: #ffffff;
$line-color: #c5c5c5;
$email-color: #a7a7a7;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $background-color;
}

header {
  width: 1440px;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: $white;
}

.logo {
  font-family: "Noto Sans Thai";
  color: #000000;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  letter-spacing: 0%;
}
.logo-title {
  display: flex;
  align-items: center;
  height: 100px;
  width: 400px;
  position: absolute;
  left: 127px;
}
nav {
  display: flex;
  align-items: center;

  a {
    color: #000000;
    font-family: "Noto Sans Thai";
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
  }
}

nav a:nth-child(1) {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 1005px;
}
nav a:nth-child(2) {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 1076px;
}
nav a:nth-child(3) {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 1149px;
}

@mixin bouton-noir {
  background-color: $primary-color;
  color: $white;
  border-radius: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans Thai";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  letter-spacing: 0%;
}

.contact {
  @include bouton-noir;

  width: 100px;
  height: 41px;
  top: 29px;
  left: 1300px;
}

h1 {
  font-family: "Noto Sans Thai";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  letter-spacing: 0%;
}
.title {
  position: absolute;
  width: 400px;
  height: 100px;
  top: 156px;
  left: 100px;
}
.paragraph {
  position: absolute;
  width: 400px;
  height: 100px;
  top: 308px;
  left: 100px;
}
p {
  font-family: "Noto Sans Thai";
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
}
.img {
  position: absolute;
  top: 156px;
  left: 820px;
}
.btn1 {
  @include bouton-noir;
  width: 157px;
  height: 41px;
  top: 460px;
  left: 100px;
}
.btn2 {
  @include bouton-noir;
  width: 157px;
  height: 41px;
  top: 459px;
  left: 271px;
}
.bouton-blanc {
  background-color: $white;
  color: $primary-color;
  border-radius: 5px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans Thai";
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  letter-spacing: 0%;
  width: 95px;
  height: 31px;
}
footer {
  background-color: $primary-color;
  width: 1440px;
  height: 555px;
  position: absolute;
  top: 2445px;
}

#white {
  color: $white;
}
.bas {
  text-align: center;
  font-family: "Noto Sans Thai";
  font-weight: 500;
  font-style: Medium;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.center {
  text-align: center;
}
.container-footer {
  display: flex;
  height: 250px;
}
.hr-milieu {
  width: 850px;
  opacity: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: solid 3px $line-color;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  li {
    a {
      font-family: "Noto Sans Thai";
      font-weight: 500;
      font-style: Medium;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 0%;
      text-decoration-skip-ink: auto;
      color: $white;
    }
  }
}

h2 {
  font-family: "Noto Sans Thai";
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: $white;
  margin-bottom: 40px;
}
h3 {
  font-family: "Noto Sans Thai";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: $white;
}
.bloc1 {
  width: 300px;
  height: 125px;
  opacity: 1;
  margin-top: 42px;
  margin-left: 40px;
}
.bloc2 {
  width: 300px;
  height: 125px;
  opacity: 1;
  margin-top: 42px;
  margin-left: 40px;
}
.bloc3 {
  width: 300px;
  height: 125px;
  opacity: 1;
  margin-top: 42px;
  margin-left: 40px;
}
.bloc4 {
  width: 300px;
  height: 125px;
  opacity: 1;
  margin-top: 42px;
  margin-left: 40px;
}

.box {
  border: gold solid;
  height: 100px;
  display: flex;
  justify-content: center;
}

.inner {
  border: green solid;
  display: flex;
  align-items: center;
}

input {
  border: solid $email-color;
  width: 160px;
  height: 31px;
  border-radius: 2px;
  font-family: "Noto Sans Thai";
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  letter-spacing: 0%;
  padding-left: 10px;
  background-color: $primary-color;
  color: $white;
}

.flex {
  display: flex;
  justify-content: center;
}
